.carousel-with-custom-dots {
  margin-top: 20px;
  padding-bottom: 20px;
}

.custom-dot {
  border: none;
  margin: 10px;
  outline: none;
}

.custom-dot--active {
  transform: scale(1.3);
  outline: auto;
}

.image-item {
  padding: 10px;
}

.container {
  margin-top: 20px;
}

.container-with-dots {
  margin-top: 20px;
  padding-bottom: 10px;
}

.react-multi-carousel-dot-list {
  bottom: 0px !important;
}

#__next {
  overflow: scroll;
  margin-bottom: 40px;
}

.react-multi-carousel-dot button {
  border-color: grey !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.first-carousel-container {
  margin-bottom: 50px;
}

.slider-wrapper {
  position: relative;
}
.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.react-multi-carousel-track {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, transition;
}

.react-multiple-carousel__arrow {
  position: absolute;
  z-index: 1000;
  opacity: 1;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border: 8px solid;
  border-color: #ddd transparent transparent #ddd;
  transition: ease 320ms;
  cursor: pointer;
}

.react-multiple-carousel__arrow::before {
  display: block;
  text-align: center;
  z-index: 2;
  position: relative;
}

.react-multiple-carousel__arrow--left {
  left: -32px;
  transform: rotate(315deg);
}

.react-multiple-carousel__arrow--right {
  right: -32px;
  transform: rotate(135deg);
}

.react-multi-carousel-dot-list {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  margin: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.react-multi-carousel-dot button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  padding: 5px 5px 5px 5px;
  box-shadow: none;
  transition: background 0.5s;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  outline: 0;
  cursor: pointer;
}

.react-multi-carousel-dot button:hover {
  background: #080808;
}

.react-multi-carousel-dot--active button {
  background: #080808;
}

.react-multi-carousel-item {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .react-multi-carousel-item {
    flex-shrink: 0 !important;
  }

  .react-multi-carousel-track {
    overflow: visible !important;
  }
}
